.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
<<<<<<< HEAD
=======

.container {
  padding: 20px;
  min-height: 80vh;
  background-color: #f4f4f4;
}

.header {
  background-color: #20232a;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.header a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #20232a;
  color: white;
  padding: 10px;
  text-align: center;
}
>>>>>>> a996c678f3306ae80e7d08c927754d54c817867e
